* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  margin-bottom: 10rem;
}

.logo img {
  width: 50rem;
  margin-left: 22.5%;
  margin-top: 15rem;
  margin-bottom: 15%;
}

.logo h3 {
  font-weight: 500;
  font-size: 1.063rem;
}

@media only screen and (max-width: 1150px) {
  .logo {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .logo img {
    width: 25rem;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .logo img {
    width: 22.5rem;
    margin-left: 0%;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.5rem;
  margin-left: 10rem;
  line-height: 1.4;
  font-weight: 500 !important;
  -webkit-animation: text 2s linear;
          animation: text 2s linear;
}

@media only screen and (max-width: 1200px) {
  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 15rem;
    line-height: 1.6;
    max-width: 50%;
  }
  .description h1 {
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 30px;
  }
  .description h1,
  .description h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 22.5%;
    line-height: 1.6;
  }
  .description h1 {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    font-size: 24px;
  }
  .description h1,
  .description h3 {
    text-align: center;
  }
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes text {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes hero-image {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes hero-image {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

.container-2 {
  margin: 20px 40px;
}

.schedules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.schedules .schedule {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  margin: 5rem;
  z-index: 1;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem 3rem;
  text-align: center;
}

.schedules .schedule hr {
  border: 1px solid #212f3d;
  margin: 1.2rem 0;
}

@media only screen and (max-width: 900px) {
  .schedule {
    width: 75%;
  }
  .schedule img {
    width: 10rem;
  }
}

.about-us {
  color: #ffffff;
  max-width: 75%;
  position: relative;
  margin-top: 15rem;
}

.about-us img {
  width: 25rem;
  height: 30rem;
  margin-left: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-description {
  background: #ff0800;
  position: absolute;
  width: 50%;
  padding: 6rem;
  left: 55%;
  top: 25%;
  line-height: 1.6;
}

@media only screen and (max-width: 1000px) {
  .about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
  }
  .about-us .about-description {
    position: absolute;
    margin-top: 18.7rem;
    left: 0%;
    color: #ffffff;
    padding: 5rem;
    width: 100%;
    line-height: 1.6;
  }
  .about-us img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.lessons {
  color: #ffffff;
  max-width: 75%;
  margin-bottom: 15rem;
  position: relative;
}

.lessons img {
  width: 30rem;
  height: 17.5rem;
  margin-left: 60%;
  margin-top: 20%;
}

.lessons-description {
  background: #212f3d;
  position: absolute;
  width: 50%;
  padding: 6rem;
  left: 15%;
  top: 35%;
  line-height: 1.6;
}

@media only screen and (max-width: 1000px) {
  .lessons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
  }
  .lessons .lessons-description {
    position: absolute;
    margin-top: 11.3rem;
    color: #ffffff;
    padding: 5rem;
    width: 100%;
    left: 0%;
    line-height: 1.6;
  }
  .lessons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.sparring {
  color: #ffffff;
  max-width: 75%;
  margin-bottom: 15rem;
  position: relative;
}

.sparring img {
  width: 30rem;
  height: 20.8rem;
  margin-left: 65%;
}

.sparring-description {
  background: #ff0800;
  position: absolute;
  width: 50%;
  padding: 6rem;
  left: 15%;
  line-height: 1.6;
}

@media only screen and (max-width: 1000px) {
  .sparring {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
  }
  .sparring .sparring-description {
    position: absolute;
    margin-top: 20rem;
    color: #ffffff;
    padding: 5rem;
    width: 100%;
    left: 0%;
    line-height: 1.6;
  }
  .sparring img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.container {
  margin: 20px 40px;
  color: #212f3d;
  font-weight: 600 !important;
}

.heading {
  font-size: 60px;
  color: #212f3d;
  margin-left: 5.5rem;
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.profile p {
  max-width: 80%;
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.profile:hover .profile-img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #212f3d;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: #212f3d;
    text-align: center;
  }
  .heading span {
    font-size: 15px;
  }
  .profiles {
    margin: 20px 0;
  }
  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

.flex-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 10%;
}

.flex-boxes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.flex-boxes li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  margin: 5rem;
  z-index: 1;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem 3rem;
  font-weight: 800;
}

.flex-boxes img {
  width: 5rem;
}

@media only screen and (max-width: 1150px) {
  .flex-boxes ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 15rem;
  }
  .flex-boxes li {
    margin-top: -2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .flex-boxes ul {
    margin-top: 15rem;
  }
}

@media only screen and (max-width: 700px) {
  .flex-boxes ul {
    margin-top: 15rem;
  }
}

.footer {
  background: #212f3d;
  color: #ffffff;
  height: 12.5rem;
  position: relative;
  bottom: 0;
  min-height: calc(100% - 285px);
  clear: both;
  text-align: center;
  line-height: 2.5;
}

.footer i {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5em;
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.85;
}

.footer i:hover {
  opacity: 1;
}

.footer b {
  color: #ff0800;
}
/*# sourceMappingURL=style.css.map */